
@{
    ViewData["Title"] = "Автоматизация";
}

<h1>Выберите нужную автоматизацию:</h1>

<h2>Удалить уже прошедшие занятия</h2>
<a class="btn btn-info" asp-controller="Automatization" asp-action="DeleteOutdatedClasses">Выполнить автоматизацию</a>
<p>описание</p>

<h2>Заполнить группы учениками</h2>
<a class="btn btn-success">Выполнить автоматизацию</a>
<p>описание</p>

<h2>Заполнить группы репетиторами</h2>
<a class="btn btn-warning">Выполнить автоматизацию</a>
<p>описание</p>
